.todoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.todoList h1 {
  font-weight: 400;
}

.listContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 50%;
  height: 70%;
  background-color: #d8f6f6;
  border-radius: 10px;
  padding: 1.5rem;
}
